html, body {
    box-sizing: border-box;
    height: 100%;
    margin    : 0;
    padding   : 0;
    background: white;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header, .footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.about-me {
    flex-grow: 1;
    /* background-color: aqua; */
}


.box {
    width   : 500px;
    height  : 200px;
    position: absolute;
    top     : 50%;
    left    : 25%;
}

a {
    color          : rgb(104, 104, 107);
    font-size      : 18px;
    font-family    : 'Courier New', Courier, monospace;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color          : rgb(84, 84, 87);
}

li {
    list-style-type: none;
}

.copyright {
    font-size: small;
}

img.profile-foto  {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
    width        : 18%;
    border-radius: 60%;
    padding      : 10px;
}
@media screen and (max-width: 900px) {
    img.profile-foto  {
        display      : block;
        margin-left  : auto;
        margin-right : auto;
        width        : 35%;
        border-radius: 60%;
        padding      : 10px;
    }        
}

@media screen and (max-width: 600px) {
    img.profile-foto  {
        display      : block;
        margin-left  : auto;
        margin-right : auto;
        width        : 50%;
        border-radius: 60%;
        padding      : 10px;
    }        
}

.main-quote {
    /* background-color: blueviolet; */
    padding-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


img.github-logo {
    width: 58px;
}


.social li {
    display: inline;
}

.header {
    background-color: black;
    height: 50px;
}

.about-me {
    text-align: center;
    margin    : 30px;
}

.footer {
    text-align: center;
}

header a {
    padding: 15px;
}